nav {
  width: 100% !important;
  height: 70px !important;
  position: fixed !important;
  top: 0 !important;
  background-color: #fff !important;
  /* box-shadow: 0 3px 6px -2px rgba(0, 0, 0, 0.15) !important; */
  z-index: 999990;
}

.navbar.scrolled {
  background-color: white !important; /* Background color when scrolled */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Add shadow when scrolled */
}
.navbar.scrolled ul.navbar-nav li a {
  color: #497cd7 !important; /* Change link color when navbar is scrolled */
}

nav ul {
  padding: 20px;
  /* margin: 0 auto; */
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  padding: 10px 0 !important;
  color: #497cd7 !important;
  font-size: 13px !important;
  text-decoration: none !important;
  font-weight: bold !important;
  transition: all 0.2s ease !important;
}

nav ul li a:hover {
  color: #ec6a1b;
}

a:focus,.nav-link:focus, .nav-link:hover {
  color: #ec6a1b !important;
  /* border-bottom: 2px solid #278fe8; */
}

/* Headings */

h1 {
  font-size: 5rem;
  color: #34495E;
}

/* Sections */

section {
  width: 100%;
  padding: 50px;
  background: #fff;
  /* border-bottom: 1px solid #ccc; */
  height: 500px;
  text-align: center;
}

section:nth-child(even) {
  background: #fbfbfb;
}

section:nth-child(odd) {
  /* background: #bdc3c7; */
}

.pattern-text h3.welcomeTo {
  text-transform: uppercase;
}

.sections section:first-child {
  margin-top: 60px;
}

p.mainHeading {
  font-size: 48px;
  line-height: normal;
  text-transform: uppercase;
  color: #181818;
  font-weight: bold;
  border-bottom: 1px solid #f4f4f4;
  margin: 0px;
  display: inline-block;
  padding: 0px 35px 7px;
  position: relative;
}

p.mainHeading span {
  color: #278fe8
}

#about .aboutContent {
  background-color: white;
}

section#about {
  height: auto;
}

p.mainHeading span.smallLine {
  width: 37px;
  display: block;
  height: 3px;
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

span.smallLine {
  background-color: #ec6a1b;
}

.blueInfo {
  color: #278fe8;
  font-size: 16px;
}

.caraousalAbout h2 {
  color: #278fe8;
  font-size: 18px;
  line-height: 21px;

}

.caraousalAbout .innerCarousalPara {
  color: #2b2b2b;
  font-size: 14px;
  padding: 0 15px 15px 15px;
}

.grayParaInfo {
  font-size: 14px;
  color: #ec6a1b;
  padding-top: 3px;
}

#whatwedo {
  margin-top: 151px;
}

#whatwedo h2 {
  text-transform: uppercase;
  margin-bottom: 0px;
  font-size: 24px;
}


.hex {
  display: inline-block;
  position: relative;
  width: 125px;
  height: 108.92px;
  background: #278fe8;
  box-sizing: border-box;
  -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.hex-background {
  position: absolute;
  background-color: white;
  top: 8px;
  left: 9px;
  width: 108px;
  height: 94.92px;
  transform: rotate(80deg);
  -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
  -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.hex img {
  position: absolute;
  width: 116px;
  /* container height - (border thickness * 2) */
  height: 99.92px;
  /* container height - (border thickness * 2) */
  -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
  -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

.canvaHeading {
  color: #278fe8;
  margin-top: 14px;
  transition: all 300ms linear 0s;
  font-size: 20px !important;
}

.trainingImg {
  transform: rotate(-77deg);
  transform: rotate(-77deg);
  position: absolute;
  bottom: 27px;
  left: 29px;
  -webkit-clip-path: none !important;
}

.trainingImg img {
  width: 34px;
  height: 31px;
}

.canvaPara {
  font-size: 12px;
  color: #2b2b2b;
}


.carousel-indicators [data-bs-target] {
  background-color: #278fe8;
  /* border-top: 2px solid gray; */
  /* border-bottom: 2px solid gray */
}

#getYourLife {
  /* background-image: url(img/brilliance-bg.jpg);
    padding-top: 85px;
    padding-bottom: 110px;
    background-attachment: fixed;
    background-position: 50% 99px  */
}

.getYourLifeContent p {
  font-size: 12px !important;
}

#Testimonial {
  background-image: url(img/testimonial.jpg);
  padding-top: 85px;
  padding-bottom: 110px;
  background-attachment: fixed;
  background-position: 50% 99px
}

#Testimonial p {
  color: white !important;
}

#Testimonial p.testimonialUserView {
  color: white !important;
  font-size: 12px;
  font-style: italic;
}

.profileImage {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.testimonialUserView {
  color: white;
  font-size: 16px;
  text-align: left;
  width: 80%;
}

.testimonialUser {
  color: white;
  text-align: left;
  padding-bottom: 25px;
  font-size: 23px;
}

.serviceDetails h4 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 10px;
  color: #181818;

}

.serviceDetails p {
  color: #7c7c7c;
  font-size: 12px;
}

#getYourLife p {
  color: #7c7c7c;
  font-size: 14px;
}

section#getYourLife {
  height: 250px;
}

#getYourLife h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 10px;
  color: #278fe8;
}

.btnSucess {
  width: auto;
  background-color: #278fe8;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  padding: 10px;
}

.portFolioTabs ul li a {
  display: inline-block;
  font-size: 16px;
  margin-right: -2px;
  color: #000000;
  font-weight: 400;
  line-height: 50px;
  padding: 0px 24px;
  background-color: #f5f5f5;
  margin-bottom: 10px;
  border-bottom: none;
  margin-right: 1px;
  border-radius: 0;
}

.portFolioTabs ul li a.active {
  color: white !important;
  background-color: #278fe8;
}



.snip *,
.snip *:before,
.snip *:after {
  box-sizing: border-box;
  transition: all 0.45s ease;
}

.snip {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 315px;
  min-width: 230px;
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  font-size: 16px;
  margin: 10px;
  text-align: left;
  transform: translateZ(0);
}

.snip:hover .snip__title,
.snip:hover .snip__text {
  transform: translateY(0);
  opacity: 0.9;
  transition-delay: 0.2s;
}

.snip::before,
.snip::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #278fe8;
  opacity: 0.5;
  transition: all 0.45s ease;
}

.snip::before {
  transform: skew(30deg) translateX(-80%);
}

.snip::after {
  transform: skew(-30deg) translateX(-70%);
}

.snip:hover::before {
  transform: skew(30deg) translateX(-20%);
  transition-delay: 0.05s;
}

.snip:hover::after {
  transform: skew(-30deg) translateX(-10%);
}

.snip:hover .snip__figcaption::before {
  transform: skew(30deg) translateX(-40%);
  transition-delay: 0.15s;
}

.snip:hover .snip__figcaption::after {
  transform: skew(-30deg) translateX(-30%);
  transition-delay: 0.1s;
}

.snip__image {
  backface-visibility: hidden;
  vertical-align: top;
}

.snip__figcaption {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  bottom: 0;
  padding: 25px 40% 25px 20px;
}

.snip__figcaption::before,
.snip__figcaption::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #278fe8;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  content: "";
  opacity: 0.5;
  z-index: -1;
}

.snip__figcaption::before {
  transform: skew(30deg) translateX(-100%);
}

.snip__figcaption::after {
  transform: skew(-30deg) translateX(-90%);
}

.snip__title,
.snip__text {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}

.snip__title {
  font-family: "Teko", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #000;
  line-height: 1.3em;
  text-transform: uppercase;
}

.snip__text {
  font-size: 10px;
  line-height: 13.5px;
  color: black;
}

.snip__link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.TabsDetails p {
  font-size: 12px;
  color: white;
  padding-top: 3px;

}

.TabsDetails h3 {
  font-size: 15px;
  color: black;
  text-align: center;
}

section#ourPortfolio {
  height: auto;
}

#OurLevelOfBri {
  background-image: url(img/brilliance-bg.jpg);
  padding-top: 85px;
  padding-bottom: 110px;
  background-attachment: fixed;
  background-position: 50% 99px
}

#OurLevelOfBri .mainHeading,
#OurLevelOfBri .grayParaInfo {
  color: white !important;
}

#OurLevelOfBri .grayParaInfo {
  padding-left: 80px;
  padding-right: 80px;
}




.card {
  position: relative;
  /* width: 250px; */
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 300px; */
  /* border-radius: 4px; */
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
  border: none;
}

.contenetProgressBar .card:hover {
  transform: translateY(-10px);
  /* box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5); */
}

.contenetProgressBar .card:before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: transparent;
  pointer-events: none;
  z-index: 1;
}

.percent {
  position: relative;
  /* width: 150px;
    height: 150px; */
  border-radius: 50%;
  /* box-shadow: inset 0 0 50px #000;
  background: #222; */
  z-index: 1000;
}

.percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.percent .number h2 {
  color: #777;
  font-weight: 700;
  font-size: 40px;
  transition: 0.5s;
}

.card:hover .percent .number h2 {
  color: #fff;
  font-size: 60px;
}

.percent .number h2 span {
  font-size: 24px;
  color: #777;
}

.card:hover .percent .number h2 span {
  color: #fff;
  transition: 0.5s;
}

.text {
  position: relative;
  color: #777;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s;
}

.card:hover .text {
  color: #fff;
}

svg {
  position: relative;
  width: 150px;
  height: 150px;
  z-index: 1000;
}

svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #191919;
  stroke-width: 10;
  stroke-linecap: round;
  transform: translate(5px, 5px);
}

svg circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
}

.card:nth-child(1) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #fe6b35;
}

.card:nth-child(2) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 70) / 100);
  stroke: #665de5;
}

.card:nth-child(3) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 75) / 100);
  stroke: #36a6a0;
}

.card:nth-child(4) svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 90) / 100);
  stroke: #f4d30f;
}

@media (max-width: 991px) {
  .contenetProgressBar {
    width: 100%;
    flex-direction: row;
  }

  .contenetProgressBar .card {
    margin: 20px auto;
  }

  .navbar-nav {
    background-color: white;
    text-align: left;
  }

}


section#OurLevelOfBri {
  height: 600px;
}


.FounderName {
  color: #278fe8;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0;
  padding-top: 25px;
}

.founderDesignation {
  color: #7c7c7c;
  font-size: 14px;
}

section#ourTeam {
  height: 600px;
}

section#service {
  height: auto;
}

section#service img,
.hexAgonDesign img,
#Testimonial img {
  filter: invert(47%) sepia(30%) saturate(4280%) hue-rotate(175deg) brightness(92%) contrast(96%);
}

section#Testimonial {
  height: auto;
}

section#ourValuableClient {
  height: auto;
}

#ourValuableClient {
  /* background-image: url(img/full-width-bg-about.jpg); */
  /* padding-top: 85px;
  padding-bottom: 110px;
  background-attachment: fixed;
  background-position: 50% 99px  */
}

.jcarousel {
  width: 198px !important;
  height: 161px;
  float: left;
  background-color: #e9e9e9;
  margin-right: 40px;
  padding: 0;
}

#quotes {
  background-image: url(img/bg2Image.jpg);
  padding-top: 85px;
  padding-bottom: 110px;
  background-attachment: fixed;
  background-position: 50% 99px
}

section#quotes {
  height: auto;
}

.quitesLines p {
  font-size: 20px;
  font-weight: bolder;
  color: white;
}

.authorQuote {
  position: relative;
}

.authorName {
  position: absolute;
  top: 45px;
}

.carrerApptitudeCards .card {
  /* border: 1px solid lightblue; */
  box-shadow: 1px 5px 20px lightgray;
  /* background-color: white; */
}

.card ul li {
  font-size: 12px;
  text-align: left;
  padding-bottom: 10px;

}

.card ul {
  padding-top: 15px;
  padding-left: 0;
}

.card ul li::marker {
  color: #278fe8;
  /* Change the color of the marker */
  background-color: #278fe8;
  /* Change the color of the marker */
  ;
  /* Change the background color of the marker */
  border-radius: 50%;
  /* Make the marker circular */
}

.card-title {
  color: #278fe8;
  font-size: 18px;
  font-weight: bold;
  padding-top: 18px;
}

.card-subtitle {
  font-size: 12px;
  font-weight: bold;
}

/* .getIntouch{
    border: 1px solid #278fe8;
      box-shadow: 1px 8px 20px grey;
      padding: 20px;
      border-radius: 9px;
      font-weight: 900;
  } */

.getIntouch a {
  color: #278fe8;
}

.getIntouch a:hover {
  color: #000;
}

section#contactUs {
  height: auto;
}

.carrerApptitudeCards i {
  font-size: 41px;
  color: #278fe8;
}

section#carrerAptitude {
  height: auto !important;
}

.pattern-banner {
  /* background-image: url(img/TopBgImageHeader.png);
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
  vertical-align: middle; */
  z-index: 1;
  /* position: relative; */
  /* margin-top: 105px; */
}


img.topBGiMAGE{
  width: 1119px;
  height: 637px;
}

#home #carouselExample .carousel-inner .carousel-item {
position: relative;
}

#home #carouselExample .carousel-inner .carousel-item .homeCarouselContent  p{
  font-size: 43px;
    color: #ffffff;
    position: absolute;
    top: 50%;
    /* bottom: 50%; */
    top: 142px;
    left: 146px;
    /* transform: translate(-50%, -32%); */
    text-align: start;
    font-weight: bold;
    margin-bottom: 0;
    text-shadow: 1px 1px 2px rgb(29, 1, 1);
    animation: myfirst 0.5s 2;
}

#home #carouselExample .carousel-inner .carousel-item .homeCarouselContent  p span{
  font-size: 30px;
  color: #ea781b;
  text-shadow: 1px 1px 2px rgb(10 10 10);
}

@keyframes myfirst {
  0%   {left: 0px; top: 142px;}
  /* 25%  { left: 200px; top: 0px;} */

}

#home #carouselExample .carousel-inner .carousel-item img{
  animation: zoomInFaster 10s linear infinite 0s;
  -o-animation: zoomInFaster 10s linear infinite 0s;
  -moz-animation: zoomInFaster 10s linear infinite 0s;
  -webkit-animation: zoomInFaster 10s linear infinite 0s;
}

@keyframes zoomInFaster {
  0% {
      transform: scale(1);
      -ms-transform: scale(1);
  }
  30% {
      transform: scale(1.15);
      -ms-transform: scale(1.15);
  }
  100% {
      transform: scale(1);
      -ms-transformm: scale(1);
  }
}

section#home {
  padding: 0;
  background: white !important;
}

section#home a i {
  font-size: 28px;
  color: white;
}

.arrow {
  display: inline-block;
  animation: bounce 2s infinite;
  cursor: pointer !important;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
    /* Adjust the height for the bouncing effect */
  }
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.logoName {
  font-size: 55px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 2px 2px 0px rgb(42 42 42 / 30%);
  background-color: #62acd0;
  background-image: linear-gradient(45deg, #0faed5, #fefefe, #0faed5);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.homeDesrp {
  font-size: 13px;
  color: lightgray;
}

.logopACKED {
  font-size: 25px;
  font-weight: 800;
  margin-bottom: 20px;
  color: #ffffff;
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.3)
}

section#whyChooseUs {
  height: auto;
}

.pattern-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topArrow i {
  font-size: 30px;
  color: #ed802d;
}

.topArrow {
  position: fixed;
  right: 20px;
  bottom: 20px;
}


.scrollDown {
  font-size: 14px;
  color: #646464;
  text-transform: uppercase;
}

.relative {
  position: relative;
}


section#missionVision {
  height: auto !important;
}

.arrowBG {
  content: "\f119";
  /* background-image: linear-gradient(45deg, #0faed5, #fefefe, #0faed5); */
  /* background: transparent; */
  background-color: #62acd0;
  background-image: linear-gradient(45deg, #0faed5, #fefefe, #0faed5);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}




















